.calendar ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
}
.calendar li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 4.5em;
    height: 125px;
    background-color: lightslategrey;
    border-radius: 5px;
}
.other-month{
    background-color: rgb(92, 227, 236)!important;
}